body{
    text-align: center;
}
h2{
    color:#666;
}
#poster{
    max-height: 250px;
}
#error-message{
    display:none;
}
#hint{
    display: none;
}
.hint-exit{
    float:right;
}
#date{
    font-size:1.2em;
    font-weight:800;
}
#quote{
    font-family: 'Noto Serif', serif;
}
.container{
    max-width: 600px;;
}
.green{
    background-color: #6aaa64;
    color:#FFFFFF;
}
.green:hover{
    background-color: #619c5b;
    color:#FFFFFF;
}
.stats{
    font-size:.8em;
}
.results{
    font-size:2.5em;
    font-weight:100;
}
.grey{
    color:#999999;
}

#st-1.st-has-labels .st-btn.st-remove-label > span,
#st-1.st-has-labels .st-btn.st-remove-label{
    display:inline-block !important;
}

.fs-7{
    font-size:.8rem!important
}

.modal-close{
    position:absolute;
    right:5px;
    top:5px;
}

/*
=================================================
Suggestion Engine
=================================================
*/
#guess-form{
    position:relative;
}
#suggestions {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    border: 1px solid #ccc;
  }
  
  #suggestions ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #suggestions li {
    padding: 10px;
    cursor: pointer;
    list-style:none;
    text-align:left;
  }
  
  #suggestions li:hover {
    background-color: #f1f1f1;
  }
  
